.my_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

@media (max-width: 800px) {
  .my_container {
    flex-direction: column;
  }

  .my_item {
       width: 100% !important;
  }

}

h4 {
    color: blue;
}

img {
    width: 100%;
}


.my_item {
    align-self: flex-start;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.blue {
  border-color: blue;
  color: blue;
}